{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{{ title }}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td scope="row">{{ marque.id }}</td>
                <td>{{ marque.libelle }}</td>
                <td>
                    <a href="{{ path('marque_show', {'id': marque.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('marque_update', {'id': marque.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('marque_delete', {'id': marque.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marque_create') }}" class="btn btn-success">Ajouter une marque</a>
{% endblock %}
